body { 
        Font-family: Arial, sans-serif;
        background: #111;
        color: white;
        text-align: center;
        padding-top: 60px;
}

h1 {
    font-size: 2.5em;
    margin-buttom: 40px;
}

.button-container {
    margin-top: 30px;
}

.game-button {
    display: inline-block;
    padding: 15x 30px;
    background: #333;
    border: none;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

.game-button:hover {
    background: #555;
}
footer {
    text-align: center;
    font-size: 14px;
    color: gray !important;
    margin-top: 40px;
}
footer a {
    color: grey;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}



