body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: white;
}
button {
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#result {
    font-size: 20px;
    line-height: 1.4;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: black !important;
    margin-top: 40px;
}
footer a {
    color: black;
    text-decoration: none ;
}
footer a:hover {
    text-decoration: underline;
}
footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}