body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40xp;
    background-color: black;
}
input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    width: 120px;
    text-align: center;
}
button {
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#result {
    font-size: 20px;
    line-height: 1.4;
}
footer {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 40px;
}

footer a {
    color: black; /* match the page*/
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}