body {
    font-family: Arial, Helvetica, sans-serif;
    background: red;
    text-align: center;
    padding: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    width: 120px;
    text-align: center;
}

button{
    display: block;
    width: 200px;
    margin: 8px;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
}
button {
    white-space: normal;
    line-height: 1.2;
}
#result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}
footer {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 40px;
}
footer a {
    color: grey;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}