body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: block;
}

button {
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.logo {
    display: block;
    margin: 40px auto 20px auto;
    max-width: 500px;
    height: auto;
}
#result {
    font-size: 20px;
    line-height: 1.4;
}

footer {
    text-align: center;
    font-size: 14px;
    color: black !important;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    background: white;
    position: relative;
    margin-top: 100px;
}
footer a {
    color: black;
    text-decoration: none ;
}
footer a:hover {
    text-decoration: underline;
}

